@import "../../lava/assets/less/mixins.less";

body {
	background: #F9F9F9;
	color: #666;
	font-family: sans-serif;
}

#logo{
	background-repeat: no-repeat;
	background-position: bottom center;
	min-height: 200px;
	max-height: 500px;

	img {
		margin-left: -1000px;
		opacity: 0;
		z-index: -1;
	}
}

#login_form_cntr {
	margin-left: auto;
	margin-right: auto;
	background: white;
	border: 1px solid #BEBEBE;
	width: 300px;
	padding: 20px;

	.box-shadow(0 1px 3px rgba(0, 0, 0, 0.2) );
	.border-radius( 3px );
}

input:not([type="submit"]) {
	width: 100%;
	line-height: 30px;
	height: 30px;
	font-size: 24px;
	font-weight: 200;
}

label {
	font-size: 14px;
}

.message {
	text-align:center;
	color: #888;
	font: 12px courier;
}